@font-face {
    font-family: HelveticaNeue;
    src: url('../../assets/fonts/HelveticaNeueCyr/HelveticaNeueBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

nav span {
    font-family: HelveticaNeue;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.active_link {
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 0 1px black;
}

.not_active_link:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 0 1px black;
}