@import "tailwindcss";

:root {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
  /* Убирает скролл в Chrome, Edge, Safari */
}

.page-wrapper {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  height: 100%;

}

main ul {
  overflow: auto;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

::selection {
  background-color: rgb(1, 204, 255);
  color: white;
}